<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Create a LogCat appender -->
    <appender name="LogCat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>
                "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}"\t"[%thread]"\t"%-5level"\t"%logger{0}"\t"%class"\t"%replace(%method){'_aroundBody.*',''}"\t"%msg"\t"%ex"%n
            </pattern>
        </encoder>
    </appender>

    <!-- Write INFO (and higher-level) messages to the LogCat and the debug log -->
    <root level="INFO">
        <appender-ref ref="LogCat" />
    </root>
</configuration>
